/Taller10/build/
/Taller10/src/paquete3/Problema3/nbproject/private/
/Taller10/src/paquete3/Problema3/build/
/Taller10/src/paquete4/Problema4/nbproject/private/
/Taller10/src/paquete4/Problema4/build/
/Taller10/src/paquete5/Problema5/nbproject/private/
/Taller10/src/paquete5/Problema5/build/
/Taller10/src/paquete5/Problema06/nbproject/private/
/Taller10/src/paquete5/Problema06/build/
